* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.grid-container {
  border: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  width: 80vh;
  height: 80vh;
}

.grid-square {
  border: 1px solid #000;
  transition: background-color 0.3s ease;
}
